<div id="renomearArquivoModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Renomear arquivo</h4>
      </div>
      	<span id="arquivoAntigo">Teste</span>
		<% form_for '' do |f| -%>
		  <%= f.text_field :nome %>
		<% end %>
    </div>
  </div>
</div>