<h1>Page#index</h1>
<% conteudo_editavel 'nome1' do %>
  Exemplo de conteúdo editável blabalba l
<% end %>

<% conteudo_editavel 'nome2' do %>
  Exemplo de conteúdo editável blabalba l
<% end %>

<%= image_tag_editavel 'rails.png', :size => "50x64", :class => "pudim" %>

<div id="slides">
	<div class="slides_container">
    	<div class="slide">
        	Exemplo de Slide
    	</div>
  	</div>
</div>