<div class="span12">
	<div class="teste">
		<h1>Page#index</h1>
	</div>
	<%= editable_content 'nome-1' do %>
	  <p>Exemplo de conteúdo editável blabalba l</p>
	<% end %>

	<%= editable_content 'nome-2' do %>
	  <p>Exemplo de conteúdo editável blabalba l</p>
	<% end %>

	<%= editable_image_tag 'rails.png', :size => "50x64", :class => "pudim" %>

	<div id="slides">
		<div class="slides_container">
	    	<div class="slide">
	        	<p>Exemplo de Slide</p>
	    	</div>
	  	</div>
	</div>
</div>