<div class="span12">
	<h1>Page#index</h1>
	<% conteudo_editavel 'nome-1' do %>
	  <p>Exemplo de conteúdo editável blabalba l</p>
	<% end %>

	<% conteudo_editavel 'nome-2' do %>
	  <p>Exemplo de conteúdo editável blabalba l</p>
	<% end %>

	<%= image_tag_editavel 'rails.png', :size => "50x64", :class => "pudim" %>

	<div id="slides">
		<div class="slides_container">
	    	<div class="slide">
	        	<p>Exemplo de Slide</p>
	    	</div>
	  	</div>
	</div>
</div>