<center style="margin:120px 0">
	<h1 style="font-size:35px"><%= @titulo ? @titulo : "Sua mensagem foi enviada com sucesso" %></h1>
	<h2><%= @subtitulo ? @subtitulo : "Aguarde por uma resposta em sua caixa de entrada de email" %></h2>
</center>