<br>
<h2><center>Faça login para acessar</center></h2>
<br>


<div style="margin-left:-100px">

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:style => "width:360px; margin:0 auto", :class => 'form-horizontal'}) do |f| %>

	<div class="form-inputs" style="margin-left:-40px">
		<%= f.input :email %>
		<%= f.input :password, label: 'Senha' %>
	</div>

    <%= f.submit "Entrar", :class => "btn btn-success pull-right btn-large" %>

<% end %>

</div>