/*
 *= require ./bootstrap/bootstrap.min
 *= require ./bootstrap/bootstrap-responsive.min
 *= require ./bootstrap/bootstrap-missing-features
 *= require jquery.ui.all
 *= require_self
*/

.field{line-height:15px}
h1{margin-bottom:15px;}
label{margin:14px 10px 0 0}
input[type="checkbox"]{margin:8px 0 0 0}
body{margin: 0 auto; padding-bottom:40px}
.btn{padding:5px 14px 6px 14px}

.label.notice{background-color:#3A87AD}
.pagination ul{display: table; float: none;}
.cke_skin_kama{display: inline-block!important;}
textarea{width:300px; height:100px}
.nested{margin-top: 40px; padding-bottom: 40px;}
a.add_nested_fields:hover, a.remove_nested_fields:hover{text-decoration: none;}
.span6 label{width:100px}

.field_with_errors input{border-color: #EE5F5B;}

label.message{position:absolute; width: 220px; text-align: left; margin: -10px 0 0 140px; font-size: 10px; color: #EE5F5B;}

ul.chzn-choices{border: 1px solid #CCC!important; border-radius:3px; transition:border linear 0.2s,box-shadow linear 0.2s; box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1)}

.fields-padding .fields{margin-bottom: 5px;}
.hasDatepicker{width:68px}
.filtro input[type="text"], .filtro select{width:100px}
.filtro td{padding:10px; vertical-align: middle;}
.box-title{position:absolute; margin:-8px 0 0 10px}

.notificacoes{display: inline-block; text-align: center; padding-top: 1px; width:22px; height:21px; background: #ad0100; color: #FFF; border-radius:50px}