/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
*/

@import "rails-sass-images"; // ex #id{background:inline("imagem.png")}
@import "react.css.scss";

h1{color:#FFF}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg); } }

footer{
	position: fixed; z-index:-1; width:100%; height:100%; top:0; left:0;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}
#nuvens-rodape{
	width:100%; height:100%; margin:0; padding:0; overflow:hidden; display:none;
	li{width:100%; height:100%;}
	.branco{width:200%; height:100%; position: fixed; bottom:-100%; left:0; margin-top: -15px; margin-left: -50%; background: #FFF; -webkit-animation: wave 10s infinite linear;}
}
.nuvem{
	background: asset-url('clouds.png') repeat-x; height: 100%; width:200%; margin-left:-50%; background-position: -50% bottom;
	-webkit-animation: wave 10s infinite linear; margin-top: 4%; background-size:50% auto;
	&.nuvem-2{background-image: asset-url('clouds-2.png'); background-position: 0% bottom; margin-top: -2%; background-size:30% auto;}
	&.nuvem-3{
		background-image: asset-url('clouds-3.png'); background-position: 25% bottom; margin-top: -6%; background-size:20% auto;
	}
}

.box-login{position: fixed; bottom:-205px; width:100%; left:0;}
.nuvem-login{
	width:330px; height:205px; position: relative; margin:0 auto;
	.circulo{background: #FFF; position: absolute;}
	.circulo-1{width: 70px; height:70px; border-radius:70px; margin-left: 55px}
	.circulo-2{width: 170px; height:170px; border-radius:170px; margin-left: 100px; margin-top: -35px;}
	.circulo-3{width: 330px; height:150px; border-radius:170px; margin-left: 0; margin-top: 45px;}
	form{
		margin:80px 0 0 30px; position: absolute;
		.field{padding:5px 0}
		label{display:inline-block; width:50px; margin-right: 5px; text-align: right; font-size:1.5em}
		input{width:200px; border-radius:20px; border:1px solid #CCC; line-height:1em; padding:8px 10px; font-size:1.4em; outline:none;}
		input[type=submit]{background: none; border:none; border-radius:0; margin-left: 50px; padding:0; color:#999; display: none}
	}
	h1.logo{
		font-family: 'Gill Sans', sans-serif; color:#FFF; text-align: center; width:330px; position: absolute; font-size:50px; font-weight: 300; display: none; margin-top: 230px;
	}

	.nuvem-girar{
		width: 330px; height:205px; position:absolute;
		-webkit-perspective: 800;
		   -moz-perspective: 800;
		   	    perspective: 800;
		.front, .back{
			-webkit-backface-visibility: hidden;
			   -moz-backface-visibility: hidden;
			        backface-visibility: hidden;
			-webkit-transition: -webkit-transform 1s;
			   -moz-transition: -moz-transform 1s;
					transition: transform 1s;
			position: relative; z-index:1}
		.back{
			-webkit-transform: rotateY(-180deg);
			   -moz-transform: rotateY(-180deg);
			        transform: rotateY(-180deg);
			position: relative; z-index:0; margin:0}
	}
	.nuvem-girar.girar{
		.front{
			-webkit-transform: rotateY(180deg);
			   -moz-transform: rotateY(180deg);
					transform: rotateY(180deg);
		}
		.back{
			-webkit-transform: rotateY(0deg);
			   -moz-transform: rotateY(0deg);
					transform: rotateY(0deg);
		}
	}
}

.box-btn-login{position: fixed; bottom:10%; width:100%; left:0; z-index:1}
.btn-login{
	width:80px; height:80px; background: #1abc9c; cursor: pointer; border-radius:80px; margin:0 auto; position: relative;
	.fechadura{
		width:20px; height:70px; position: relative; margin:0 auto; top:18px;
		.bolinha{width:20px; height:20px; background: #FFF; border-radius: 20px;}
		.trapezio{border-bottom: 20px solid #FFF; border-left: 5px solid transparent; border-right: 5px solid transparent; height: 0; width: 20px; margin-top: -3px;}
	}
}

@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.char1{
  -webkit-animation-delay:.5s;
}
.char2{
  -webkit-animation-delay:.4s;
}
.char3{
  -webkit-animation-delay:.3s;
}
.char4{
  -webkit-animation-delay:.2s;
}