/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require nprogress/nprogress
 *= require login
 *= require_self
*/

@import "rails-sass-images";
@import "react.css.scss";

body{font-family: 'Helvetica Neue', sans-serif; font-weight: 300}
b{font-weight: 500}
.main-container{margin-top: 40px}
.form-control{border-radius:0;}
.error .help-inline{color:#a94442}
header{
	.navbar{background:#0088cc; border-radius:0; min-height: 90px}
	.select-projetos{-webkit-appearance:none; color:#164169; box-shadow: none; border:none; font-size: 18px; height: 48px; margin-top: 22px; background:asset-url('seta-select.png') #FFF right 0 no-repeat; cursor:pointer; width:70%; float: left}
	.notificacoes{
		margin-top: 25px; float: left;
		.notificacao{
			margin-left: 25px; cursor: pointer;
			&.notificacao-comentario{
				background:asset-url('icon-comentario.png'); width: 40px; height: 35px; margin-top: 5px;
				.quant{margin:18px 0 0 25px}
				.lista-notificacoes{margin-top: 33px}
			}
			&.notificacao-documento{
				background:asset-url('icon-documento.png'); width: 29px; height: 36px;
			}
			.quant{background:#F00; position: absolute; width: 22px; height: 22px; border-radius:22px; text-align: center; color:#FFF; padding-top: 1px; margin:22px 0 0 19px}
			.lista-notificacoes{
				position: absolute; background:#FFF; list-style: none; margin:0; padding:0; width:150px; display: none;
				box-shadow: 0 0 5px #000; z-index:2; margin-top: 38px;
				li{padding:10px; &:hover{background:#daf1fd;}}
			}
			&:hover .lista-notificacoes{display: block;}
		}
	}
	.busca{box-shadow: none; border:none; height: 48px; margin-top: 22px; background:asset-url('icon-busca.png') #FFF 95% 10px no-repeat;}
}

nav{
	.nav-ul{list-style: none; margin:20px 0 0 0; padding:0}
	.nav-li{
		border-bottom: 1px solid #DDD; border-top: 1px solid #F2F2F2; padding:0; margin:0;
		&:first-child{border-top: none;}
		&:last-child{border-bottom: none;}
	}
	.nav-a{
		font-size:20px; color:#444; display: block; width:100%; padding:10px 0; @include animated(.3s);
		&:hover{text-decoration: none; color:#058; padding-left: 5px}
	}
}

.diff{
	border:1px solid #d8d8d8; border-left: none; border-right: none;
	ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
	del, ins{display:block;text-decoration:none;}
	li{padding:5px 8px; margin: 0;}
	li.ins{background:#dfd; color:#080}
	li.del{background:#fee; color:#b00}
	li:hover{background:#ffc}
	del, ins, span{white-space:pre-wrap;}
	del strong{font-weight:normal;background:#fcc;}
	ins strong{font-weight:normal;background:#9f9;}
	li.diff-comment { display: none; }
	li.diff-block-info { background: none repeat scroll 0 0 gray; }
}

.user-image{max-width:100%}
.user-nome{font-size:18px; text-align: center; padding:10px 0}
.atualizacao{
	border:1px solid #d8d8d8; margin-bottom: 40px;
	.atualizacao-topo{
		padding:20px;
		.icon-arquivo{
			text-align: center;
			.icon-arquivo-img{max-width: 100%}
		}
		h1, h2{padding:0; margin:0 0 5px 0}
		h1{font-size:24px; font-weight: 300;}
		h2{font-size:18px; font-weight: 300;}
		.download-link{
			font-size:18px; text-decoration: underline;
			&:hover{text-decoration: none;}
		}
	}
	.comentarios{
		padding:20px 20px 10px 30px;
		.comentario{margin-bottom: 10px}
		.comentario-avatar{padding:0}
		.comentario-img{max-width: 100%}
	}
}